*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
}
.clock{
    width: 320px;
    height: 320px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3)inset;
    background: url(c.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid red;
}
.hr, .min, .sec{
    position: absolute;
    display: flex;
    justify-content: center;
}
.hr{
    width: 150px;
    height: 150px;
}
.min{
    width: 200px;
    height: 200px;
}
.sec{
    width: 250px;
    height: 250px;
}
.hr::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 85px;
    background-color: black;
    z-index: 1;
}

.min::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100px;
    background-color: black;
    z-index: 2;
}

.sec::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 120px;
    background-color: black;
    z-index: 3;
}
